
.title {
    text-align: center;
    font-size: 40px;
    background-color: grey; 
    color: white;
    text-shadow: 1px 2px 3px white; 
  }

.main {
  background-color: grey;
  background-image: url(https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_1280.jpg);
}